body{
    background-color: black;
    /* transform: translate(0%, 50%); */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.zigzag{
    overflow: hidden;

}

th, td{
    padding: 1em .75em;
    text-align: left;
    vertical-align: top;
    margin: 1em;
}

th{
    background-color: #009;
    color: #fff;

}

td{
    background-color: #eee;

}

tr{
    transition: all 1s ease-in-out;
    &.slide-out{
        transform: translateX(100%);
    }
    
}



